@import "tailwindcss";

@theme {
  --color-primary: var(--primary, #4f46e5);
  --color-background: var(--background, #f9fafb);
}

:root {
  --primary: #4f46e5;
  --background: #f9fafb;
}

body {
  background-color: var(--background);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
